* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: pink; }

.none {
  display: none; }

header {
  background-color: #fff4f1;
  background-image: url(../Imagenes/Fondo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  height: 100vh; }
  header .marca {
    display: flex;
    align-content: center; }
  header nav {
    background-color: rgba(255, 192, 203, 0.568); }
    header nav .productos {
      display: flex;
      justify-content: center;
      font-size: 20px;
      font-weight: 700; }
      header nav .productos li {
        margin: 0px 20px; }
        header nav .productos li a:hover {
          background-color: #fa8d9f;
          border-radius: 10px; }

main img {
  height: 300px;
  width: 300px; }

.botonCompra {
  position: absolute;
  bottom: 5%;
  left: 40%;
  height: fit-content;
  width: fit-content;
  font-size: 1.5rem;
  font-weight: 700; }

.container {
  position: relative;
  height: 450px;
  width: 1075px;
  display: flex;
  align-items: center; }

section .card {
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  margin: 20px 0;
  width: 280px; }
  section .card .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100; }
  section .card .image {
    height: 200px;
    width: 100%;
    padding: 3px;
    background-color: pink; }
    section .card .image img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border: 3px solid white; }
  section .card .name-profession {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: grey; }
    section .card .name-profession .name {
      font-size: 20px; }
    section .card .name-profession .profession {
      font-size: 15px; }
  section .card .button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px; }
    section .card .button button {
      background: blueviolet;
      outline: none;
      border: none;
      color: #fff;
      padding: 8px 22px;
      border-radius: 20px;
      font-size: 14px;
      transition: all 0.3s ease;
      cursor: pointer; }
    section .card .button button:hover {
      background: #f7637c; }

section .card::before {
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background-color: blueviolet;
  border-radius: 20px 20px 0 0; }

.swiper {
  width: 950px; }

.swiper-pagination-bullet {
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: blueviolet; }

.swiper-button-next {
  z-index: 1;
  color: black; }

.swiper-button-prev {
  z-index: 1;
  color: black; }

.productosAgendas {
  display: flex;
  position: relative;
  margin: auto;
  width: 98vw;
  overflow-x: hidden;
  height: 100vh;
  z-index: 1;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, white, pink); }
  .productosAgendas .agendas {
    z-index: 2;
    position: absolute;
    background-color: #70d8cf;
    height: inherit;
    width: 100vw; }
    .productosAgendas .agendas .imagen {
      height: inherit; }
      .productosAgendas .agendas .imagenTexto {
        z-index: 3;
        height: inherit;
        width: 50vw;
        position: absolute; }
      .productosAgendas .agendas .imagenAgenda {
        overflow-y: hidden;
        z-index: 2;
        height: inherit;
        width: 75%;
        position: absolute;
        right: 0%; }
  .productosAgendas .introAgendas {
    z-index: 11;
    position: absolute;
    bottom: 40%;
    left: 50px;
    width: 30vw;
    background-color: rgba(127, 255, 212, 0.432); }
  .productosAgendas .botonAgendas {
    z-index: 11;
    bottom: 35%;
    left: 75px;
    position: absolute; }
  .productosAgendas .slide-out-right {
    -webkit-animation: slide-out-right 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: slide-out-right 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0; } }

@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0; } }

.productosMates {
  display: flex;
  position: relative;
  width: 98vw;
  margin: auto;
  overflow-x: hidden;
  height: 100vh;
  z-index: 1;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, pink, #ff647e, #ff647e); }
  .productosMates .mates {
    z-index: 2;
    position: absolute;
    background-color: #70d8cf;
    height: inherit;
    width: 100vw; }
    .productosMates .mates .imagenTexto {
      z-index: 3;
      height: inherit;
      width: 50vw;
      position: absolute;
      right: 0; }
    .productosMates .mates .imagenMates {
      overflow-y: hidden;
      z-index: 2;
      height: inherit;
      width: 75%;
      position: absolute;
      right: 0%;
      left: 0; }
  .productosMates .introMates {
    z-index: 11;
    position: absolute;
    bottom: 40%;
    right: 50px;
    width: 30vw;
    background-color: rgba(127, 255, 212, 0.432); }
  .productosMates .flip {
    transform: scaleX(-1); }
  .productosMates .botonMates {
    z-index: 11;
    bottom: 35%;
    right: 75px;
    position: absolute; }
  .productosMates .slide-out-left {
    -webkit-animation: slide-out-left 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: slide-out-left 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0; } }

@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0; } }

.productosCuadernos {
  display: flex;
  position: relative;
  width: 98vw;
  margin: auto;
  overflow-x: hidden;
  height: 100vh;
  z-index: 1;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #ff647e, #ff647e, pink, pink); }
  .productosCuadernos .cuadernos {
    z-index: 2;
    position: absolute;
    background-color: #70d8cf;
    height: inherit;
    width: 100vw; }
    .productosCuadernos .cuadernos .imagen {
      height: inherit; }
      .productosCuadernos .cuadernos .imagenTexto {
        z-index: 3;
        height: inherit;
        width: 50vw;
        position: absolute; }
      .productosCuadernos .cuadernos .imagenCuadernos {
        overflow-y: hidden;
        z-index: 2;
        height: inherit;
        width: 75%;
        position: absolute;
        right: 0%;
        transform: scaleX(-1);
        transform: scaleY(-1); }
  .productosCuadernos .introCuadernos {
    z-index: 11;
    position: absolute;
    bottom: 40%;
    left: 50px;
    width: 30vw;
    background-color: rgba(127, 255, 212, 0.432); }
  .productosCuadernos .botonCuadernos {
    z-index: 11;
    bottom: 35%;
    left: 75px;
    position: absolute; }
  .productosCuadernos .slide-out-right {
    -webkit-animation: slide-out-right 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: slide-out-right 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0; } }

@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0; } }

.productosRegalos {
  display: flex;
  position: relative;
  height: 100vh;
  z-index: 1; }
  .productosRegalos .regalos {
    z-index: 10;
    position: absolute;
    background-image: url(../Imagenes/regalos.jpg);
    height: inherit;
    width: 100vw;
    background-size: cover;
    background-position-y: center;
    object-fit: cover;
    background-repeat: no-repeat; }
  .productosRegalos .botonRegalos {
    z-index: 11;
    position: absolute; }
  .productosRegalos .slide-out-left {
    -webkit-animation: slide-out-left 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: slide-out-left 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0; } }

@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0; } }

.carrito {
  width: 90vw;
  display: flex;
  align-items: center;
  min-height: 80vh;
  width: 98vw;
  margin: auto;
  background-image: linear-gradient(to bottom, pink, white); }
  .carritoTabla {
    margin: 20px 50px;
    border: dashed;
    background-color: beige;
    width: 50vw; }
    .carritoTabla tfoot {
      text-align: center;
      font-size: 1.7em; }
  .carritoBotones button {
    margin: 0 20px 40px 20px; }

.footer {
  background-color: #ff8095;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  .footer p {
    position: absolute;
    top: 5%; }
  .footer .redes {
    border: dotted;
    width: 45%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    .footer .redes span {
      position: absolute;
      top: 3%;
      text-align: center;
      padding: 0 20px; }
    .footer .redes .imagenes {
      position: absolute;
      bottom: 15%; }
      .footer .redes .imagenes img {
        height: 100px;
        width: 100px;
        margin: 0 25px; }
