.footer{
    background-color: rgb(255, 128, 149);
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    p{
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        color: black;
        position: absolute;
        top: 5%;
    }
    .redes{
        border: dotted;
        width: 45%;
        height: 75%;
        display: flex;
        justify-content: center;
        align-items: center;   
        position: relative;
        span{
            font-family: 'Roboto', sans-serif;
            color: black;
            position: absolute;
            top: 3%;
            text-align: center;
            padding: 0 20px;
        }
        .imagenes{
            position: absolute;
            bottom: 15%;
            img{
            height: 100px;
            width: 100px;
            margin: 0 25px;
            }
        }
    }
}