.productosAgendas{
    display: flex;
    position: relative;
    width: 100vw;
    overflow-x: scroll;
    height: 100vh;
    z-index: 1;
    .card{
      margin: 0 50px;
      justify-content: space-evenly;
      img{
        height: 250px;
      }
    }
    .agendas{
        z-index: 2;
        position: absolute;
        // background-image: url(../Imagenes/agendas.jpg);
        background-color: rgb(112, 216, 207);
        height: inherit;
        width: 100vw;
        // background-size: cover;
        // background-position-y: center;
        // object-fit: cover;
        // background-repeat: no-repeat;
        .imagen{
          height: inherit;
          &Texto{
            z-index: 3;
            height: inherit;
            width: 50vw;
            position: absolute;
          }
          &Agenda{
            overflow-y: hidden;
            z-index: 2;
            height: inherit;
            width: 80%;
            position: absolute;
            right: 0%;
          }
        }
    }
    .introAgendas{
      z-index: 11;
      position: absolute;
      bottom: 40%;
      left: 50px;
      width: 30vw;
      background-color: rgba(127, 255, 212, 0.432);
      
    }
    .botonAgendas{
        z-index: 11;
        bottom: 35%;
        left: 75px;
        position: absolute;
    }
    .none{
        display: none;
    }
    
    .slide-out-right {
        -webkit-animation: slide-out-right 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                animation: slide-out-right 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
    @-webkit-keyframes slide-out-right {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateX(1000px);
                  transform: translateX(1000px);
          opacity: 0;
        }
      }
      @keyframes slide-out-right {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateX(1000px);
                  transform: translateX(1000px);
          opacity: 0;
        }
      }    
}