.productos{
    width: 90vw;
    display: flex;
    align-items: center;
    &Tabla{
        margin: 20px 50px;
        border: dashed;
        background-color: beige;
        width: 50vw;
        tfoot{
            text-align: center;
            font-size: 1.7em;
        }
    }
    &Botones{
        button{
            margin: 0 20px 40px 20px;
        }
    }
}