.carrito{
    width: 90vw;
    display: flex;
    align-items: center;
    min-height: 80vh;
    width: 98vw;
    margin: auto;
    background-image: linear-gradient(to bottom, pink, white);
    &Tabla{
        margin: 20px 50px;
        border: dashed;
        background-color: beige;
        width: 50vw;
        tfoot{
            text-align: center;
            font-size: 1.7em;
        }
    }
    &Botones{
        button{
            margin: 0 20px 40px 20px;
        }
    }
}