main{
    img{
        height: 300px;
        width: 300px;
    }
}

.botonCompra{
    position: absolute;
    bottom: 5%;
    left: 45%;
    height: 75px;
    width: fit-content;
    font-size: 2rem;
    font-weight: 700;
}