*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(255, 192, 203);
}

.none{
    display: none;
}

@import "1main";
@import "2header";
@import "3cards";
@import "4agendas";
@import "5mates";
@import "6cuadernos";
@import "7carrito";
@import "8footer";