*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 192, 203);
}

.none{
    display: none;
}

@import "header";
@import "main";
@import "agendas";
@import "mates";
@import "combos";
@import "regalos";
@import "footer";